.bg-register {
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #e1ddfb 20%,
        #cec9f9 40%,
        #c7c4f5 60%,
        #dbd7fa 80%,
        #ffffff 100%
    );

    .register-wrapper {
    width: 100%;
    max-width: 420px;
    }

    .logo-box {
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 18px;
    }

    .social-btn {
        background: #4285F4; /* Googleブルー */
        color: #ffffff;
        border: none;
        border-radius: 12px;
        padding: 12px;
        font-weight: 500;
        box-shadow: 0 4px 12px rgba(0,0,0,0.05);
        transition: 0.2s ease;
    }

    .social-btn:hover {
        background: #357ae8; /* 少し暗めに */
        transform: translateY(-1px);
    }

    .divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #6c757d;
    font-size: 14px;
}

    .divider::before,
    .divider::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #dee2e6; /* 薄いグレー */
    }

    .divider::before {
        margin-right: 15px;
    }

    .divider::after {
        margin-left: 15px;
    }

    .custom-input::placeholder {
    color: #9ca3af;
    }

    .register-btn {
    background: #7c83fd;
    border: none;
    border-radius: 12px;
    padding: 14px;
    font-weight: 600;
    transition: 0.2s ease;
    }

    .register-btn:hover {
        background: #6366f1;
    }
}